<script id="footer-template" type="text/x-handlebars-template">
  <footer>
    &copy; Copyright {{currentYear}} - Arthur Menken
    <a href="https://www.linkedin.com/in/arthur-menken/">LinkedIn</a>
  </footer>
</script>
