/* ROOT */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: var(--font-color);
  font-family: var(--font-family-b);
  font-feature-settings: "ss01" 1;
}

:root {
  --main-bg-color: #F7F5FA;
  --primary-color: #640DFF;
  --surface-bg-color: rgba(0, 0, 0, 0.02);
  --secondary-color: #FFC926;
  --font-family-h: 'Archivo', sans-serif;
  --font-family-b: 'Onest', sans-serif;
  --font-color: #222;
  --font-color-figc: #535353;
  --font-color-alt: #F7F5FA;
}

/* Archivo - Bold */
@font-face {
  font-family: 'Archivo';
  src: url('../assets/fonts/Archivo-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* Archivo - Medium */
@font-face {
  font-family: 'Archivo';
  src: url('../assets/fonts/Archivo-Medium.ttf') format('truetype');
  font-weight: 500;
}

/* Archivo - Semibold */
@font-face {
  font-family: 'Archivo';
  src: url('../assets/fonts/Archivo-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

/* Onest - Medium */
@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest-Medium.ttf') format('truetype');
  font-weight: 500;
}

/* Onest - Regular */
@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest-Regular.ttf') format('truetype');
  font-weight: 400;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--main-bg-color);
  background-attachment: fixed;
  overflow-y: scroll;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
nav a {
  font-family: var(--font-family-h);
  font-feature-settings: normal;
}

a {
  color: var(--primary-color);
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: .125rem;
  text-underline-offset: .1875rem;
  font-weight: 500;
  font-family: inherit;
}

h1 a {
  text-decoration: none;
  font-weight: inherit;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

h1 span {
  color: var(--primary-color);
}

#content a {
  font-size: 20px;
  white-space: nowrap;
  display: inline-block;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  line-height: 1.2;
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

main li::marker {
  font-weight: 700;
}

main li {
  list-style-position: inside;
  font-size: 20px;
  line-height: 1.6;
}

main li::marker {
  color: var(--primary-color);
}

main ol *,
main ul * {
  margin-bottom: .5em;
}

/* NAV */

nav {
  height: 96px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: scroll;
  scrollbar-width: none;
}

nav::-webkit-scrollbar {
  display: none;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

nav ul li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 18px;
  height: 64px;
}

nav ul li:first-of-type>a {
  background-position: 100% !important;
  font-size: 20px;
  font-weight: 700;
}

nav ul li:first-of-type>a::before {
  width: 0% !important;
}

nav ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-weight: 500;
  padding: 0 8px 0;
  background-image: linear-gradient(to right,
      var(--primary-color),
      var(--primary-color) 50%,
      var(--font-color) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  position: relative;
}

/* nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
} */

nav ul li a:hover,
.active {
  background-position: 0;
  text-decoration: none;
}

nav ul li a:hover::before {
  width: 100%;
}

main {
  margin: 0 auto;
  width: 100%;
}

#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 360px;
  max-width: 1024px;
  padding: 0 1rem;
  margin: 0 auto 4rem;
  gap: .25rem;
}

#work {
  display: grid;
  row-gap: 1.5rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.card {
  display: grid;
  grid-template-rows: auto auto;
  border-radius: 12px;
  height: 100%;
  width: 100%;
}

.card>img {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.card>div {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: start;
  text-align: left;
  color: var(--font-color);
  padding: 1.5rem 0 2rem;
  border: none;
}

.card>div>h3 {
  margin: 0 0 .25rem;
}

#open-in-new-tab {
  background-color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  width: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  opacity: 1;
  border-radius: 50%;
  position: absolute;
  top: 56px;
  right: 0;
  transform: translate(50%, -50%);
}

#open-in-new-tab i {
  color: var(--font-color-alt);
}

.card>div>a {
  border-radius: 4px;
  color: var(--font-color-alt);
  padding: 0 2rem;
  margin: 1rem 0 0 auto;
  height: 48px;
  width: 100%;
  background-image: linear-gradient(to right,
      var(--secondary-color),
      var(--secondary-color) 50%,
      var(--primary-color) 50%);
  background-size: calc(200% + .1px) 100%;
  background-position: 100%;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .75rem;
  align-items: center;
}

.card>div>a>i {
  color: inherit;
}

.card>div>a:hover {
  color: var(--font-color);
  background-position: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  padding: 6rem 0 6rem;
  width: 100%;
}

footer div {
  display: flex;
  flex-flow: row;
  gap: 2rem;
}

footer a {
  margin: 0 auto;
  font-size: revert;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

footer a i {
  color: var(--primary-color);
}

footer span {
  color: var(--font-color);
  font-size: 18px;
}

/* CASE STUDY PAGE */
.heading {
  margin: 0 auto 2.25rem;
  padding: 3rem 1rem;
  background: var(--primary-color);
}

/* .heading::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  margin: 1.5rem 0 0;
  background: var(--primary-color);
} */

.card h2 {
  font-size: 20px;
  width: 100%;
  line-height: 1.6;
  font-weight: 400;
}

.heading span {
  display: block;
  font-size: 20px;
  margin: 0 auto .125rem auto;
  font-weight: 600;
  width: 100%;
}

.heading span.about {
  display: inline-block;
  font-size: inherit;
  width: auto;
}

.heading img {
  display: block;
  margin: 1.5rem auto 0 auto;
  width: 100%;
}

#content {
  position: relative;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  color: var(--font-color);
}

.heading > * {
  margin: 0 auto;
  max-width: 768px;
  color: var(--font-color-alt);
}

#content>* {
  max-width: 600px;
  width: 100%;
  margin: 0 auto 1.5rem 0;
}

#content>*:first-child {
  margin-top: 0;
}

#content>*:last-child {
  margin-bottom: 0;
}

#content figure:not(.quote) {
  margin: 1.5rem auto 2rem 0;
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
  border-radius: 4px;
}

#content figure.bg:not(.quote) {
  display: flex;
  flex-direction: column
}

#content img {
  display: block;
  width: auto;
  pointer-events: none;
  border-radius: 0px;
  max-height: calc(100vh - 8rem);
  object-fit: contain;
  background: var(--surface-bg-color);
}

figcaption {
  margin: .75rem 0 0 0;
  padding: 0 0 .75rem;
  width: auto;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  color: var(--font-color-figc);
  border-bottom: 1px solid var(--font-color-figc);
  font-style: italic;
}

figure.quote figcaption {
  text-align: center;
}

#content h2 {
  margin: 4.5rem auto 1.5rem 0;
  max-width: 100%;
}

#content h2::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  margin: 1rem 0 0;
  background: var(--primary-color);
}

#content h3 {
  margin: 1.5rem auto .5rem 0;
}

#content figure.quote {
  background-color: var(--surface-bg-color);
  padding: 5rem 1.5rem 1.5rem;
  border-radius: 12px;
  max-width: none;
}

#content figure.quote figcaption {
  font-size: 20px;
  font-weight: 500;
  padding: 0 1.5rem .5rem;
  border: none;
  font-style: normal;
}

#content figure.quote figcaption::before {
  content: '—';
  margin-right: .125rem;
}

#content figure.quote blockquote {
  padding: 0;
  border-radius: 0px;
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}

#content blockquote {
  padding: 24px;
  font-size: 20px;
  line-height: 52px;
  border-radius: 12px;
  quotes: "\201C""\201D"
}

blockquote :last-child {
  margin-bottom: 0;
}

#content blockquote::before {
  color: var(--primary-color);
  content: open-quote;
  font-size: 128px;
  position: absolute;
  left: 50%;
  top: -28px;
  transform: translateX(-50%);
  font-family: var(--font-family-h);
}

blockquote p {
  display: inline-block;
  margin: 0 auto 1rem;
}

.modal {
  display: none;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 0;
  animation: modalFadeIn 0.2s ease-in-out forwards;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  gap: 2rem;
}

#typing-text {
  color: var(--primary-color);
  position: relative;
}

#typing-text::after {
  content: "";
  display: inline-block;
  height: 1.2em;
  width: .125rem;
  background-color: var(--font-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -0.125em;
  animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close-btn {
  background-color: var(--font-color-alt);
  text-decoration: none;
  cursor: pointer;
  width: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  opacity: 1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.close-btn i {
  color: var(--primary-color);
}

/* TABLET AND UP */
@media all and (min-width: 768px) {

  main {
    max-width: none;
  }

  nav ul li:first-of-type a::after {
    content: '\00a0Menken'
  }

  nav ul li {
    width: auto;
  }

  nav ul li a {
    padding: 0 1rem 0;
  }

  nav ul li:first-of-type {
    margin-right: auto;
  }

  .modal-img-container {
    position: relative;
  }

  .modal-img-container img {
    display: block;
    margin: auto;
    border-radius: 0;
    width: 100%;
    max-height: calc(100vh - 16rem);
    max-width: calc(100vw - 16rem);
    object-fit: contain;
    cursor: zoom-in;
  }

  #content, #hero, #work {
    padding: 0;
  }

  body #content figure.float {
    float: right;
    max-width: calc(100% - 440px);
    height: auto;
    margin-top: .25rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    position: relative;
  }

  #content figure.float img {
    min-width: unset;
  }

  #content figure.quote {
    min-width: unset;
    margin: 0;
  }

  .card {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
  }

  .card>div {
    padding: 0 0 0 2rem;
  }

  .card>div>a {
    margin: 1.5rem auto 0 0;
    width: auto;
  }

  #content img {
    width: auto;
    cursor: pointer;
    pointer-events: unset;
    min-width: 640px;
    max-height: 640px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid var(--surface-bg-color);
  }

  #content figure.bg img {
    padding: 1.5rem;
    aspect-ratio: 4 / 3;
    background: var(--img-bg-color);
    border-radius: 12px;
  }

  #content figure:not(.quote) {
    min-width: unset;
    margin: 1.5rem auto 2rem 0;
  }
}