/* ROOT */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: var(--font-color);
  font-family: var(--font-family-b);
}

:root {
  --surface-color: hsl(264, 100%, 50%);
  --secondary-color: hsl(48, 100%, 50%);

  --primary-bg-color: hsl(264, 100%, 100%);
  --secondary-bg-color: hsl(264, 100%, 99%);

  --border-color: hsl(0, 0%, 25%);

  --font-family-h: 'Archivo', sans-serif;
  --font-family-b: 'Onest', sans-serif;
  --font-size-b: clamp(1.125rem, 0.8864rem + 0.9091vw, 1.25rem);
  --font-size-c: clamp(1rem, 0.7614rem + 0.9091vw, 1.125rem);
  --font-color: hsl(0, 0%, 25%);
  --font-color-figc: hsl(0, 0%, 33.3%);
  --font-color-alt: hsl(0, 100%, 99.5%);

  --max-width: 1280px;
  --container-width: 960px;
  --content-width: 640px;
}

/* Archivo - Medium */
@font-face {
  font-family: 'Archivo';
  src: url('../assets/fonts/Archivo-Medium.ttf') format('truetype');
  font-weight: 500;
}

/* Archivo - Semibold */
@font-face {
  font-family: 'Archivo';
  src: url('../assets/fonts/Archivo-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

/* Archivo - Bold */
@font-face {
  font-family: 'Archivo';
  src: url('../assets/fonts/Archivo-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* Onest - Medium */
@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest-Medium.ttf') format('truetype');
  font-weight: 500;
}

/* Onest - Regular */
@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest-Regular.ttf') format('truetype');
  font-weight: 400;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--secondary-bg-color);
  background-attachment: fixed;
  overflow-y: scroll;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
nav a {
  font-family: var(--font-family-h);
  font-feature-settings: normal;
}

a {
  color: var(--surface-color);
  text-decoration: none;
  font-weight: inherit;
  font-family: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--surface-color);
  text-decoration-thickness: .125rem;
  text-underline-offset: .1875rem;
}

h1 a:hover,
footer a:hover {
  text-decoration: none;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

h1 span {
  color: var(--surface-color);
}

/* #content a {
  font-size: 20px;
  white-space: nowrap;
  display: inline-block;
} */

p {
  font-size: var(--font-size-b);
  line-height: 1.6;
  column-span: all;
}

h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  line-height: 1.2;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

main li {
  list-style-position: inside;
  font-size: var(--font-size-b);
  line-height: 1.6;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  list-style-position: inside;
}

main li::marker {
  font-weight: 700;
  color: var(--surface-color);
}

main ol *,
main ul * {
  margin-bottom: .5rem;
}

/* NAV */

nav {
  position: fixed;
  z-index: 2;
  height: 64px;
  width: 100%;
  margin: -63px auto 0;
  padding: 0 1rem;
  overflow: scroll;
  scrollbar-width: none;
  background: var(--secondary-bg-color);
  /* border-bottom: 2px solid var(--border-color); */
}

nav::-webkit-scrollbar {
  display: none;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: var(--max-width);;
  height: 100%;
  margin: 0 auto;
}

nav ul li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 18px;
  height: 100%;
}

nav ul li:first-of-type>a {
  background-position: 100% !important;
  font-size: 22px;
  font-weight: 600;
}

nav ul li:first-of-type>a::before {
  width: 0% !important;
}

nav ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-weight: 500;
  padding: 0 8px 0;
  background-image: linear-gradient(to right,
      var(--surface-color),
      var(--surface-color) 50%,
      var(--font-color) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  position: relative;
}


/* nav ul li:not(:first-of-type) a::after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, var(--surface-color), var(--surface-color) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.2s ease-in-out;
}


nav ul li:not(:first-of-type) a:hover::after {
  background-position: 0;
} */

nav ul li a:hover,
.active {
  background-position: 0;
  text-decoration: none;
}

nav ul li a:hover::before {
  width: 100%;
}

main {
  margin: 63px auto 0;
  width: 100%;
}

#hero-container {
  max-width: var(--max-width);;
  height: 320px;
  margin: 0 auto 4rem;
  background: var(--secondary-bg-color);
}

#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  max-width: 768px;
  padding: 0 1rem;
  margin: 0 auto;
}

#hero p {
  color: var(--font-color-figc);
  margin: 1.5rem 0 0;
}

#work {
  display: grid;
  row-gap: 2rem;
  max-width: var(--max-width);;
  margin: 0 auto;
  padding: 0 1rem;
}

.card {
  display: grid;
  grid-template-rows: auto auto;
  background: var(--primary-bg-color);
  border: 1px solid var(--border-color);
  /* box-shadow: 0 4px 0 0 var(--border-color); */
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.card>img {
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0,.02) 0px 0px 1rem 0px;
  /* border-bottom: 1px solid var(--border-color); */
}

.card>div {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: start;
  text-align: left;
  color: var(--font-color);
  padding: 2rem;
  border: none;
}

.card>div>h3 {
  margin: 0 0 .25rem;
}

#open-in-new-tab {
  background-color: var(--surface-color);
  text-decoration: none;
  cursor: pointer;
  width: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  opacity: 1;
  border-radius: 50%;
  position: absolute;
  top: 56px;
  right: 0;
  transform: translate(50%, -50%);
}

#open-in-new-tab i {
  color: var(--font-color-alt);
}

a.cta {
  border-radius: 4px;
  color: var(--font-color-alt);
  padding: 0 2.5rem;
  margin: 1rem 0 0 auto;
  height: 52px;
  width: 100%;
  background-image: linear-gradient(to right,
      var(--secondary-color),
      var(--secondary-color) 50%,
      var(--surface-color) 50%);
  background-size: calc(200% + 1%) 100%;
  background-position: 100%;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border: 2px solid var(--border-color);
  box-shadow: 0 4px 0 0 var(--border-color);
}

a.cta>i {
  color: inherit;
}

a.cta:hover {
  color: var(--font-color);
  background-position: -.5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  padding: 6rem 0 6rem;
  width: 100%;
}

footer div {
  display: flex;
  flex-flow: row;
  gap: 2rem;
}

footer a {
  margin: 0 auto;
  font-size: revert;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

footer a i {
  color: var(--surface-color);
}

footer span {
  color: var(--font-color);
  font-size: 18px;
}

/* CASE STUDY PAGE */
.heading {
  position: relative;
  margin: 0;
  padding: 0 1rem;
}

.card h2 {
  font-size: 20px;
  width: 100%;
  line-height: 1.6;
  font-weight: 400;
}

.heading:not(.about) h1 {
  padding: 2rem 0 0;
}

.heading span {
  display: none;
  font-size: 20px;
  margin: 0 auto .125rem auto;
  font-weight: 600;
  width: 100%;
}


.heading span.about {
  display: inline-block;
  font-size: inherit;
  width: auto;
}

.heading img {
  display: block;
  margin: 1.5rem auto 0 auto;
  width: 100%;
  max-width: var(--max-width);
  /* border: 1px solid var(--border-color); */
  /* box-shadow: 0 2px 0 0 var(--border-color); */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 1rem 0px;
  border-radius: 4px;
}

#content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem 4rem;
  color: var(--font-color);
}

.heading>* {
  margin: 0 auto;
  max-width: var(--content-width);;
  color: var(--font-color);
}

#content>* {
  max-width: var(--content-width);;
  width: 100%;
  margin: 0 auto 1.5rem;
}

#content>*:first-child {
  margin-top: 0;
}

#content>*:last-child {
  margin-bottom: 0;
}

#content figure {
  margin: 2rem auto;
  border-radius: 8px;
}

#content img {
  display: block;
  max-width: 100%;
  height: auto;
  pointer-events: none;
  border-radius: 0px;
  background: var(--primary-bg-color);
  max-height: calc(100vh - 8rem);
  object-fit: contain;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 1rem 0px;
  /* box-shadow: 0px 0px 24px rgba(0,0,0,.1); */
  /* border: 1px solid var(--border-color); */
}

#content img.float {
  float: right;
  padding: 0;
  height: auto;
  margin: .25rem 0 1.25rem 1.25rem;
  position: relative;
  border-radius: 8px;
}

figcaption {
  display: flex;
  align-items: center;
  margin: 1rem auto 0;
  padding: 0 1rem;
  width: 100%;
  font-size: var(--font-size-c);
  line-height: 1.6;
  text-align: left;
  color: var(--font-color-figc);
}

#content h2 {
  margin: 3rem auto 2rem;
  padding: 1.25rem 0 0;
  background: var(--secondary-bg-color);
}

#content h2::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  margin: 1.5rem 0 0;
  background: var(--surface-color);
}

#content h3 {
  margin: 2.5rem auto .75rem;
}

#content figure.quote,
#content figure.insert {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--primary-bg-color);
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid var(--border-color);
  box-shadow: 0 4px 0 0 var(--border-color);
}

figure.quote figcaption,
figure.insert figcaption {
  max-width: var(--content-width);;
  font-size: var(--font-size-b);
  font-weight: 600;
  padding: 0;
  border: none;
  font-style: normal;
  margin: 1rem auto 0;
}

.quote p:first-of-type::before,
.insert p:first-of-type::before {
  content: '“';
}

.quote p:last-of-type::after,
.insert p:last-of-type::after {
  content: '”';
}


figure.quote figcaption::before,
#content figure.insert figcaption::before {
  content: '—';
  margin: 0 .25rem auto 0;
}

blockquote {
  margin: 0 auto;
}

blockquote :last-child {
  margin-bottom: 0;
}

blockquote p {
  max-width: var(--content-width);;
  margin: 0 auto 1.5rem;
}

/* .insert p {
  font-size: calc(var(--font-size-b) * 1.1);
} */

.insert p strong {
  color: var(--surface-color); 
  font-family: inherit;
}

.modal {
  display: none;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.32);
  opacity: 0;
  animation: modalFadeIn 0.2s ease-in-out forwards;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  gap: 2rem;
}

#typing-text {
  color: var(--surface-color);
  position: relative;
}

#typing-text::after {
  content: "";
  display: inline-block;
  height: 1.2em;
  width: .125rem;
  background-color: var(--font-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -0.125em;
  animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close-btn {
  background-color: var(--font-color-alt);
  text-decoration: none;
  cursor: pointer;
  width: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  opacity: 1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.close-btn i {
  color: var(--surface-color);
}

/* TABLET AND UP */
@media all and (min-width: 768px) {

  main {
    max-width: calc(100% - 4rem);
    margin: calc(64px + 2rem) auto 0;
  }

  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 32px;
  }
  
  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }
  

  nav {
    margin: calc(-64px + -2rem) auto 0;
  }

  nav ul li:first-of-type a::after {
    content: '\00a0Menken';
  }

  nav ul li {
    width: auto;
  }

  nav ul li a {
    padding: 0 1rem 0;
  }

  nav ul li:first-of-type {
    margin-right: auto;
  }

  .modal-img-container {
    position: relative;
  }

  .modal-img-container img {
    display: block;
    margin: auto;
    border-radius: 4px;
    width: 100%;
    max-height: calc(100vh - 16rem);
    max-width: calc(100vw - 16rem);
    object-fit: contain;
    cursor: zoom-in;
  }

  #hero-container,
  #content,
  #content.about {
    border-radius: 8px;
  }

  #content {
    padding: 3rem 1rem 6rem;
    border-radius: 8px;
  }

  #hero,
  #work {
    padding: 0;
  }



  .card {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
  }

  .card>img {
    border: 0;
    /* border-right: 1px solid var(--border-color); */
  }

  .card>div {
    padding: 4rem;
  }

  a.cta {
    margin: 1.5rem auto 0 0;
    width: auto;
  }

  #content a.cta {
    margin: 1.5rem auto;
    width: auto;
    max-width: fit-content;
  }

  .heading:not(.about) h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background: var(--surface-color);
    border-radius: 4px;
    line-height: 100%;
    max-width: unset;
  }

  .heading {
    padding: 0;
    margin: 2rem auto 0;
  }

  .heading>* {
    color: var(--font-color-alt);
  }

  .heading img {
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
    aspect-ratio: 4 / 1;
  }

  .heading span {
    display: none;
  }

  .two-col {
    columns: 2;
  }

  figcaption {
    padding: 0 2rem;
  }

  #content figure.quote,
  #content figure.insert {
    padding: 1.5rem 2rem;
  }

  #content figure img {
    cursor: pointer;
    pointer-events: unset;
    max-height: 600px;
    margin: auto;
    border-radius: 8px;
  }

  #content img.float {
    max-width: 192px;
  }
}