/* ROOT */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-body);
  text-rendering: optimizeLegibility;
  color: var(--font-color);
}

:root {
  --main-bg-color: #F1F1F1;
  --nav-bg-color: #222;
  --surface-bg-color: #F8F8F8;
  --primary-color: #FFBF00;
  --secondary-color: #1A1AFF;
  --slider-color: #222;
  --slider-bg: #eee;
  --anchor-color: #1A1AFF;
  --accent-color: #FFBF00;
  --font-family-body: 'Karla', sans-serif;
  --font-color: #222;
  --font-color-light: #F1F1F1;
  --font-color-caption: #515151;
}

html[data-theme="dark"] {
  --main-bg-color: #111;
  --nav-bg-color: #000;
  --surface-bg-color: #222;
  --primary-color: #FFBF00;
  --secondary-color: #1A1AFF;
  --slider-color: #222;
  --slider-bg: #FFBF00;
  --anchor-color: #FFBF00;
  --accent-color: #FFBF00;
  --font-family-body: 'Karla', sans-serif;
  --font-color: #F1F1F1;
  --font-color-light: #F1F1F1;
  --font-color-caption: #ACACAC;
}

[data-theme="dark"] .card>div>a {
  color: #222;
}

html {
  scroll-behavior: smooth;
  background-color: var(--main-bg-color);
  overflow-y: scroll;
}

img {
  object-fit: cover;
}

a {
  color: var(--anchor-color);
  text-decoration: none;
  font-weight: 600;
}

#content a {
  font-size: 18px;
  white-space: nowrap;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: .125em;
  text-underline-offset: .125em;
}

p {
  font-size: 18px;
  line-height: 150%;
}

h1 {
  font-size: 36px;
  display: none;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
  line-height: 150%;
}

main ul li {
  list-style-type: '— ';
}

main li::marker {
  font-weight: 900;
}

#content ol,
#content ul {
  list-style-position: inside;
  font-size: 18px;
  line-height: 150%;
}

#content ol li::marker,
#content ul li::marker {
  color: var(--accent-color);
}

#content ol *,
#content ul * {
  margin-bottom: .5rem;
}

/* NAV */

nav {
  height: 100%;
  max-height: 64px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: scroll;
  scrollbar-width: none;
  background: var(--nav-bg-color);
}

nav::-webkit-scrollbar {
  display: none;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

nav ul li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 18px;
  height: 64px;
  letter-spacing: .3px;
}

nav ul li:first-of-type>a {
  font-family: 'Orbitron', sans-serif;
}

nav ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
  padding: 0 8px;
  background-image: linear-gradient(to right,
      var(--primary-color),
      var(--primary-color) 50%,
      #fff 50%);
  background-size: 200% 100%;
  background-position: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover,
.active {
  color: var(--secondary-color);
  background-position: 0;
  text-decoration: none;
}

nav ul li a:hover::before {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
  background: var(--slider-bg);
  border-radius: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg clip-path='url(%23clip0_1300_106215)'%3E%3Cpath d='M12 0C12.5523 0 13 0.447715 13 1V4C13 4.55228 12.5523 5 12 5C11.4477 5 11 4.55228 11 4V1C11 0.447715 11.4477 0 12 0Z' fill='%23222222'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12ZM12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9Z' fill='%23222222'%3E%3C/path%3E%3Cpath d='M20.4852 4.92894C20.8757 4.53841 20.8757 3.90525 20.4852 3.51472C20.0947 3.1242 19.4615 3.1242 19.071 3.51472L16.9496 5.63605C16.5591 6.02657 16.5591 6.65974 16.9496 7.05026C17.3402 7.44078 17.9733 7.44078 18.3639 7.05026L20.4852 4.92894Z' fill='%23222222'%3E%3C/path%3E%3Cpath d='M24 12C24 12.5523 23.5523 13 23 13H20C19.4477 13 19 12.5523 19 12C19 11.4477 19.4477 11 20 11H23C23.5523 11 24 11.4477 24 12Z' fill='%23222222'%3E%3C/path%3E%3Cpath d='M19.0711 20.4853C19.4616 20.8758 20.0948 20.8758 20.4853 20.4853C20.8758 20.0948 20.8758 19.4616 20.4853 19.0711L18.364 16.9498C17.9734 16.5592 17.3403 16.5592 16.9497 16.9498C16.5592 17.3403 16.5592 17.9735 16.9497 18.364L19.0711 20.4853Z' fill='%23222222'%3E%3C/path%3E%3Cpath d='M12 24C11.4477 24 11 23.5523 11 23V20C11 19.4477 11.4477 19 12 19C12.5523 19 13 19.4477 13 20V23C13 23.5523 12.5523 24 12 24Z' fill='%23222222'%3E%3C/path%3E%3Cpath d='M3.51482 19.0711C3.12429 19.4616 3.12429 20.0948 3.51482 20.4853C3.90534 20.8758 4.53851 20.8758 4.92903 20.4853L7.05035 18.364C7.44087 17.9734 7.44087 17.3403 7.05035 16.9497C6.65983 16.5592 6.02666 16.5592 5.63614 16.9497L3.51482 19.0711Z' fill='%23222222'%3E%3C/path%3E%3Cpath d='M0 12C0 11.4477 0.447715 11 1 11H4C4.55228 11 5 11.4477 5 12C5 12.5523 4.55228 13 4 13H1C0.447715 13 0 12.5523 0 12Z' fill='%23222222'%3E%3C/path%3E%3Cpath d='M4.92894 3.5147C4.53841 3.12417 3.90525 3.12417 3.51472 3.5147C3.1242 3.90522 3.1242 4.53838 3.51472 4.92891L5.63605 7.05023C6.02657 7.44075 6.65974 7.44075 7.05026 7.05023C7.44078 6.6597 7.44078 6.02654 7.05026 5.63601L4.92894 3.5147Z' fill='%23222222'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1300_106215'%3E%3Crect width='24' height='24' fill='white'%3E%3C/rect%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) 5px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: var(--slider-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
}

input:checked+.slider {
  background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Emoon %5B%23114%5D%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Dribbble-Light-Preview' transform='translate(-220.000000  -7719.000000)' fill='%23222222'%3E%3Cg id='icons' transform='translate(56.000000  160.000000)'%3E%3Cpath d='M173.99029 7576.998 C171.388688 7576.998 169.058358 7575.74775 167.591892 7573.8028 C174.222522 7575.15916 180.17047 7569.27528 178.803103 7562.59159 C180.748048 7564.05806 181.998298 7566.38839 181.998298 7568.98999 C181.998298 7573.40541 178.405705 7576.998 173.99029 7576.998 M174.610911 7559 C176.076376 7560.36937 176.993293 7562.32032 176.993293 7564.48549 C176.993293 7571.32432 168.608909 7574.54254 164.0003 7569.60961 C164.32062 7574.84985 168.66997 7579 173.99029 7579 C179.518819 7579 184.0003 7574.51852 184.0003 7568.98999 C184.0003 7563.66967 179.85015 7559.32032 174.610911 7559' id='moon-%5B%23114%5D'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
  /* background-color: var(--accent-color); */
}

.toggle-container p {
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 14px;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}

main {
  max-width: calc(100% - 2rem);
  margin: 32px auto 16px;
  width: 1200px;
}

#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  margin: 0px auto 16px;
  background: var(--surface-bg-color);
  border-radius: 16px;
}

.hero-text {
  padding: 0 16px;
}

#card-container {
  display: grid;
  row-gap: 16px;
  scroll-margin-top: 16px;
}

.card {
  border-radius: 16px;
  display: grid;
  grid-template-rows: 300px auto;
  background: var(--surface-bg-color);
  overflow: hidden;
}

.card>img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.card>div {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--primary-color);
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: var(--font-color-);
  padding: 1rem 2rem;
  border: none;
  border-top: 2px solid var(--accent-color);
}

#open-in-new-tab {
  background: var(--surface-bg-color);
  height: 40px;
  width: fit-content;
  line-height: 40px;
  padding: 0 16px;
  margin: 0;
  border-radius: 4px;
}

.card>div>a {
  border-radius: 4px;
  color: var(--font-color);
  padding: 0 16px;
  margin: 2rem 0 0 auto;
  height: 40px;
  line-height: 40px;
  background-image: linear-gradient(to right,
      var(--secondary-color),
      var(--secondary-color) 50%,
      var(--primary-color) 50%);
  background-size: calc(200% + .1px) 100%;
  background-position: 100%;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 18px;
}


.card>div>a::after {
  margin-left: 8px;
  content: '»';
}

.card>div>a:hover {
  color: var(--font-color-light);
  background-position: 0;
}

.card h2,
.card h3,
.card p {
  width: 100%;
  text-align: left;
  line-height: 150%;
  font-size: 20px;
}

.card h2 {
  margin-bottom: .5rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  margin: 4rem 0;
  width: 100%;
}

footer>a {
  margin: 0 auto;
  font-size: 18px;
}

/* CASE STUDY PAGE */
.heading {
  max-width: 640px;
  margin: 4rem auto 3rem;
  padding: 0 0 calc(2rem + 2px);
  border-bottom: 2px solid var(--accent-color);
}

.heading p {
  margin: 1rem 0 0;
}

.heading h3,
.heading h2 {
  font-size: 22px;
  line-height: 150%;
}

.heading h2 {
  margin: 0 0 .5rem;
}

#content {
  width: 100%;
  max-width: 765px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--font-color);
}

#content>* {
  max-width: 640px;
  width: 100%;
  margin: 0 auto 1.5rem;
}

#content figure:not(.quote) {
  max-width: 765px;
  margin: 2rem auto 1.5rem;
}

#content>*:last-child {
  margin-bottom: 0;
}

#content img {
  display: block;
  width: 100%;
  pointer-events: none;
  border-radius: 8px;
  max-height: 765px;
  object-fit: contain;
}

#content figure.float {
  float: none;
  max-width: 100%;
  margin-right: 0;
  margin-bottom: 1rem;
}

figcaption {
  margin: 1rem auto 0;
  max-width: 640px;
  padding: 0 0 .5rem;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--font-color-caption);
}

#content h4:first-of-type {
  margin: 0 auto 1rem;
}

#content h4 {
  border-left: 2px solid var(--accent-color);
  padding: .25rem 0 .25rem 1rem;
  margin: 3rem auto 1rem;
}

#content h5 {
  margin: 1rem auto .5rem;
}

#content figure.quote {
  background-color: var(--surface-bg-color);
  padding: 4rem 1.5rem 1.5rem;
  border-radius: 8px;
}

#content figure.quote figcaption {
  font-size: 18px;
}

#content figure.quote figcaption::before {
  content: '—';
}

#content figure.quote blockquote {
  padding: 0;
  border-radius: 0px;
  position: relative;
}

#content blockquote {
  background-color: var(--surface-bg-color);
  padding: 24px;
  font-size: 18px;
  line-height: 150%;
  border-radius: 8px;
  quotes: "\201C""\201D"
}

blockquote :last-child {
  margin-bottom: 0;
}

#content blockquote:before {
  color: var(--primary-color);
  content: open-quote;
  font-size: 96px;
  position: absolute;
  left: 50%;
  top: -27px;
  transform: translateX(-50%);
}

blockquote p {
  display: inline-block;
  margin: 0 auto 1rem;
}

.modal {
  display: none;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  opacity: 0;
  animation: modalFadeIn 0.3s ease-in-out forwards;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0;
  gap: 1.5rem;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close-btn {
  font-size: 36px;
  color: var(--slider-bg);
  cursor: pointer;
  width: 32px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  font-weight: lighter;
  height: 32px;
  background: none;
  opacity: 1;
  border-radius: 50%;
  background-color: var(--slider-color);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

/* TABLET AND UP */
@media all and (min-width: 765px) {

  nav ul li:first-of-type a::after {
    content: '\00a0Menken'
  }

  nav ul li {
    width: auto;
  }

  nav ul li a {
    padding: 0 16px;
  }

  .toggle-container {
    padding: 0 16px;
  }

  nav ul li:first-of-type {
    margin-right: auto;
  }

  .modal-img-container {
    position: relative;
  }

  .modal-img-container img {
    display: block;
    margin: auto;
    border-radius: 0;
    width: 100%;
    max-height: calc(100vh - 12rem);
    max-width: calc(100vw - 4rem);
    object-fit: contain;
  }

  #content figure.float {
    float: left;
    max-width: calc(50% - 1rem);
    margin-top: 8px;
    margin-right: 1rem;
    margin-bottom: 0rem;
  }

  .card {
    min-height: 300px;
    height: 300px;
    grid-template-columns: 50% 50%;
    grid-template-rows: none;
  }

  .card>div {
    border: none;
    border-left: 2px solid var(--accent-color);
  }

  .card>div>a {
    margin: 2rem auto 0 0;
  }

  /* .heading {
    padding: 16px 0;
  } */

  #content img {
    width: auto;
    cursor: pointer;
    pointer-events: unset;
    max-width: 100%;
    margin: 0 auto;
  }
}